{% extends 'layout.html.twig' %}
{% block page_title %}
Choose password
{% endblock %}
{% block content %}

    <div class="col-md-6 offset-md-3">
            <h1 class="h3 mb-3 font-weight-normal">Choose a password</h1>
        {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
        {% endfor %}

        {{ form(form) }}

    </div>


{% endblock %}



