{% extends "layout.html.twig" %}

{% set active = 'login' %}

{% block page_title %}
    Login
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-6 offset-3">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" style="margin-bottom: 10px" placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" style="margin-bottom: 10px" placeholder="Password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


                {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
                {#See https://symfony.com/doc/current/security/remember_me.html#}

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>


                <button class="btn btn-lg btn-primary" style="margin-bottom: 10px" type="submit">
                    Sign in
                </button>
            </form>

                <a id="forgot_password" href="{{ path('security_password_forgotten') }}">I've forgot my password :(</a>

        </div>
    </div>

{% endblock %}
