{% extends "layout.html.twig" %}

{% set active = 'home' %}

{% block page_title %}
    Home
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script>
{% endblock %}



{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="app-title-h1">Welcome on meet'in ! </h1>

    <div class="app-calendar">
        {% include '@FullCalendar/Calendar/calendar.html.twig' %}
    </div>

{% endblock %}

{% block final_javascript %}
    <script>
        $(function () {
            $('#calendar-holder').fullCalendar({
                string: 'standard',
                locale: 'en',
                weekends: false,
                titleFormat: 'dddd, MMMM YYYY',
                nowIndicator: true,
                columnHeaderFormat: 'ddd D/M',
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, listWeek'
                },
                noEventsMessage: 'There\'s no scheduled booking',
                businessHours: {
                    start: '09:00',
                    end: '19:00',
                    dow: [1, 2, 3, 4, 5]
                },
                views: {
                    month: { // name of view
                        titleFormat: 'MMMM YYYY',
                        columnHeaderFormat: 'ddd',
                    },
                    agendaWeek: {
                        titleFormat: 'D MMMM YYYY',
                        columnHeaderFormat: 'ddd D/M',
                    },
                    agendaDay: {
                        titleFormat: 'D MMMM YYYY',
                        columnHeaderFormat: '',
                    },
                    list: {
                        titleFormat: 'D MMMM YYYY',
                    }
                },
                defaultView: 'agendaDay',
                height: "auto",
                minTime: "08:00:00",
                maxTime: "20:00:00",
                lazyFetching: true,
                navLinks: true,
                selectable: false,
                editable: true,
                eventDurationEditable: false,
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                                whereClose: 'b.id >= 1'
                            }
                        },
                        error: function () {
                            alert('There was an error during the event loading!');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}