<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button type="submit" class="btn btn-danger app-button-show">Delete</button>
</form>
