{{ form_start(form) }}
<div class="container">
    <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4">
        <div class="form-group">
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form_widget(form.beginAt) }}

                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                {{ form_errors(form.beginAt) }}
            </div>
        </div>
    </div>

    <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                {{ form_widget(form.endAt) }}

                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                {{ form_errors(form.endAt) }}
            </div>
        </div>
    </div>

    <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4">
        <div class="form-group">
            {{ form_widget(form.room) }}
        </div>
    </div>

    <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4 d-inline-flex">
        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}
    </div>
</div>

