{% extends "layout.html.twig" %}

{% set active = 'myBookings' %}

{% block title %}
    My Bookings
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script>
{% endblock %}


{% block content %}
    <h1>My Bookings</h1><br>
    <div class="app-calendar">
        {% include '@FullCalendar/Calendar/calendar.html.twig' %}
    </div>
{% endblock %}

{% block final_javascript %}
    <script>
        $(function () {
            $('#calendar-holder').fullCalendar({
                string: 'standard',
                locale: 'en',
                weekends: false,
                titleFormat: 'dddd, MMMM YYYY',
                nowIndicator: true,
                columnHeaderFormat: 'ddd D/M',
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'agendaWeek, month, listWeek'
                },
                noEventsMessage: 'There\'s no scheduledd booking',
                businessHours: {
                    start: '08:00',
                    end: '19:00',
                    dow: [1, 2, 3, 4, 5]
                },
                views: {
                    month: { // name of view
                        titleFormat: 'MMMM YYYY',
                        columnHeaderFormat: 'ddd',
                    },
                    agendaWeek: {
                        titleFormat: 'D MMMM YYYY',
                        columnHeaderFormat: 'ddd D/M',
                    },
                    list: {
                        titleFormat: 'D MMMM YYYY',
                    }
                },
                defaultView: 'agendaWeek',
                height: "auto",
                minTime: "08:00:00",
                maxTime: "19:00:00",
                lazyFetching: true,
                navLinks: true,
                selectable: false,
                editable: true,
                eventDurationEditable: true,
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                                whereClose: 'b.user = {{ app.user.id }}'
                            }
                        },
                        error: function () {
                            alert('There was an error while fetching FullCalendar!');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
