{% extends 'layout.html.twig' %}

{% block title %}New Booking{% endblock %}

{% set active = "newBooking" %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    {{ encore_entry_script_tags('dateTimePicker') }}
{% endblock %}


{% block content %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="row justify-content-center app-title-form">Create new Booking</h1>

    {{ include('booking/_form.html.twig') }}

    <div class="container app-link-end-form">
        <div class="offset-md-3 offset-lg-4 col-md-6 col-lg-4">
            <a href="{{ path('index') }}"> Home </a>
        </div>
    </div>

{% endblock %}

{% block final_javascript %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                icons: {
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-check-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                format: "YYYY-MM-DD HH:mm",
                locale: 'en',
                minDate: 'moment',
                daysOfWeekDisabled: [0, 6],
                useCurrent: false,
                disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 20, 21, 22, 23, 24],
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
            });
            $('#datetimepicker2').datetimepicker({
                icons: {
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-check-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                useCurrent: false,
                format: "YYYY-MM-DD HH:mm",
                locale: 'en',
                daysOfWeekDisabled: [0, 6],
                disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 20, 21, 22, 23, 24],
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
            });
            $("#datetimepicker1").on("change.datetimepicker", function (e) {
                $('#datetimepicker2').datetimepicker('minDate', e.date);
            });
            $("#datetimepicker2").on("change.datetimepicker", function (e) {
                $('#datetimepicker1').datetimepicker('maxDate', e.date);
            });
        });
    </script>
{% endblock %}
