{% extends "layout.html.twig" %}

{% set active = 'roomBookings' %}

{% block title %}
    Room Bookings
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container app-planning-room">
        <h1 class="app-title-h1">Room Bookings</h1>

        <div class="row app-calendar">
            <div class="col-md-2 app-sidebar-room">
                <div class="list-group">
                    {% for linkRoom in rooms %}
                            <a class="list-group-item list-group-item-action{% if linkRoom.id == room.id %} active {% endif %}"
                               href="{{ path('booking_room_booking', {
                                roomId: linkRoom.id
                            }) }}">{{ linkRoom.name }} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-7">
                {% include '@FullCalendar/Calendar/calendar.html.twig' %}
            </div>
            <div class="col-md-3">
                <div class="container app-details-room app-sidebar-room">
                    <h3 class="app-title-h1">Room Details</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid rounded img-thumbnail" src="{{ asset( 'uploads/images/rooms/' ~ room.image ) }}" alt=" image room {{ room.image }}">
                        </div>

                        <div class="table-responsive col-md-12">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th scope="row">Name : </th>
                                    <td>{{ room.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Capacity :</th>
                                    <td>{{ room.capacity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Equipments:</th>
                                    <td>
                                        <ul class="list-group">
                                            {% for equipment in room.equipments %}
                                                <li class="list-group">{{ equipment.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block final_javascript %}
    <script>
        $(function () {
            $('#calendar-holder').fullCalendar({
                string: 'standard',
                locale: 'en',
                weekends: false,
                nowIndicator: true,
                columnHeaderFormat: 'ddd D/M',
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, agendaWeek'
                },
                businessHours: {
                    start: '09:00',
                    end: '19:00',
                    dow: [1, 2, 3, 4, 5]
                },
                views: {
                    month: { // name of view
                        titleFormat: 'MMMM YYYY',
                        columnHeaderFormat: 'ddd',
                    },
                    agendaWeek: {
                        titleFormat: 'DD MMMM YYYY',
                        columnHeaderFormat: 'ddd D/M',
                    }
                },
                defaultView: 'agendaWeek',
                height: "auto",
                minTime: "08:00:00",
                maxTime: "20:00:00",
                lazyFetching: true,
                navLinks: true,
                selectable: false,
                editable: true,
                eventDurationEditable: true,
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                                whereClose: 'b.room = {{ room.id }}'
                            }
                        },
                        error: function () {
                            alert('There was an error while fetching FullCalendar!');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}



