{% extends 'layout.html.twig' %}

{% set active = 'myBookings' %}

{% block title %}show-booking{% endblock %}

{% block content %}

<div class="title">
    <h2>{{ booking.title }}</h2>
</div>
    <div>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid rounded img-thumbnail" src="{{ asset( 'uploads/images/rooms/' ~ booking.room.image) }}" alt=" image room {{ booking.room.name }}">
    </div>

    <div class="table-responsive col-md-6">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Room Name : </th>
                    <td>{{ booking.room.name }}</td>
                </tr>
                {% if booking.beginAt|date('m/d/Y') == booking.endAt|date('m/d/Y') %}
                <tr>
                    <th scope="row">Date : </th>
                    <td>{{ booking.beginAt|date('m/d/Y') }}</td>
                </tr>
                <tr>
                    <th scope="row">Start at : </th>
                    <td>{{ booking.beginAt|date('H:i') }}</td>
                </tr>
                <tr>
                    <th scope="row">End at : </th>
                    <td>{{ booking.endAt|date('H:i') }}</td>
                </tr>
                {% else %}
                <tr>
                    <th scope="row">Start : </th>
                    <td>{{ booking.beginAt|date('m/d/Y') }} at {{ booking.beginAt|date('H:i') }}</td>
                </tr>
                <tr>
                    <th scope="row">End : </th>
                    <td>{{ booking.endAt|date('m/d/Y') }} at {{ booking.endAt|date('H:i') }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">Room capacity :</th>
                    <td>{{ booking.room.capacity }}</td>
                </tr>
                <tr>
                    <th scope="row">Room equipment:</th>
                    <td>
                        <ul class="list-group">
                            {% for equipment in booking.room.equipments %}
                                <li class="list-group">{{ equipment.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Host :</th>
                    <td>{{ booking.user.firstname }} {{ booking.user.name }}</td>
                </tr>

            </tbody>
        </table>
        <div class="row justify-content-around app-button-show">
            <div>
                <a class="btn btn-primary app-button-show" href="{{ path('index') }}">Home</a>
            </div>
            {% if app.user == booking.user or is_granted('ROLE_ADMIN') %}
                <div>
                    <a class="btn btn-primary app-button-show" href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </div>
                <div>
                    {{ include('booking/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
