//@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}
body {
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  min-height: 70vh;
  padding-top: 40px;
}
.footer {
  margin: 5vh 0 auto;
  flex-shrink: 0;
  min-height: 10%;
}
.app-link-end-form {
  margin-top: 1.5%;
}
.app-details-room {
  margin-bottom: 5%;
}
.app-title-h1{
  margin-bottom: 1.5%;
}
.app-sidebar-room{
  margin-top: 93px;
  padding-bottom: 25px;
}
.app-calendar{
  padding-bottom: 25px;
}