{% extends 'emails/base.html.twig' %}

{% block content %}
<h1> Hello {{ user.firstname }}!</h1>
    <p>Your account has been activated! You can follow this link to log into your account: <a href="{{ app.request.schemeAndHttpHost ~ path('app_login') }}">Meetin login</a></p>
{% endblock %}



