<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meetin email</title>

    {% block stylesheet %}

        <style>
            body {
                font-family: Arial, Times, serif;
            }
            img {
                width: 150px;
                margin-top: 30px;
            }
        </style>

    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}

{% block signature %}

    <p>Have a nice day!</p>

    <img src="{{ absolute_url(asset('images/logo.png')) }}" alt="logo">
    <p>Meetin team</p>
{% endblock %}

</body>
</html>




