{% extends 'emails/base.html.twig' %}

{% block content %}
    <h1>Hello {{ user.firstname }} !</h1>
    <p>Your booking has been updated ! </p>

    Name of event: {{ booking.title }} <br>
    Begin at: {{ booking.beginAt | date('d-m-Y H:i') }} <br>
    End at: {{ booking.endAt | date('d-m-Y H:i') }} <br>
    Room: {{ booking.room.name }} <br>

    You can check and modify this booking following this link :
    <a href="{{ app.request.schemeAndHttpHost ~ path('booking_show', {
        id: booking.id
    }) }}">your booking</a>
{% endblock %}
