{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Hello {{ user.firstname }} !</h1>
    <p>You have requested a new password on meetin, please follow this link to set a new password:
        <a href="{{ url }}">choose a new password</a>
    </p>
{% endblock %}
