{% extends "emails/base.html.twig" %}

{% block content %}

<h1>Welcome {{ user.firstname }} !</h1>

<p>Please follow this link to activate your account and set a new password:
<a href="{{ url }}">activate my account</a>
</p>

{% endblock %}