<!DOCTYPE html>
<!--
  __  __           _   _ _
 |  \/  | ___  ___| |_( |_)_ __
 | |\/| |/ _ \/ _ \ __|/| | '_ \
 | |  | |  __/  __/ |_  | | | | |
 |_|  |_|\___|\___|\__| |_|_| |_|

-->

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>
            {% block title %}
                {% block page_title '' %} |
                {% block site_title "Meet'In" %}
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>
        {% block body '' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block final_javascript '' %}
    </body>
</html>
