{% extends "base.html.twig" %}

{% block body %}

    {% include 'components/_nav.html.twig' %}
    <div class="content container">
        {% block content '' %}
    </div>
    {% include 'components/_footer.html.twig' %}

{% endblock %}
