<!-- Footer -->
<footer class="footer py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Meet'In 2019 by Team Rocket</p>
    </div>
    <!-- /.container -->
</footer>