<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" width="150" alt="logo Meet'in">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('easyadmin') }}">Admin Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if active is defined and active == 'newBooking'%} active {% endif %}" href="{{ path('booking_new') }}">New Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active is defined and active == 'myBookings'%} active {% endif %} " href="{{ path('booking_my_bookings') }}">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active is defined and active == 'roomBookings'%} active {% endif %} " href="{{ path('booking_room_booking',{
                        roomId: 1
                    })  }}">Room Bookings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
